$topBarHeight: 90px;

//colors
$activeColor: #e5faf5;
$whiteTextColor: #fff;
$blueTextColor: #2c3e50;
$greyTextColor: #7f8c8d;
$buttonColor: #005fff;
$topBgColor: #262e33;
$mainBgColor: #ecf0f1;
$borderGreyColor: #e8e8e8;
$clientsHover: #f6f8fc;
$holderBackground: #b2b2b2;
$greyButton: #a7b5be;

//clients
  //clients list
  $clientListWidth: 260px;